nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  background-color: #2C3E50;
  border-bottom: 2px solid #ff0000;
}

.page-links {
  display: flex;
  gap: 2em;
  font-size: 1.25em;
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: #ff0000;
  font-weight: 600;
  padding: 0.25rem 0;
  border-bottom: 3px solid transparent; /* prevents bobbing */
}

nav a:hover {
  border-bottom: 3px solid #ff0000; /* red hover underline */
}

nav a.active {
  border-bottom: 3px solid #ff0000; /* red active underline */
}

nav span {
  margin: 0.5em;
}
